@CHARSET "UTF-8";
#blog {
	font-family: 'hanna';
}
/* #wrapper {
	border:5px solid red;
}
#wrapper>* {
	border:5px solid green;
}
#wrapper>*>* {
	border:5px solid blue;
} */
#wrapper {
	max-width: 68rem;
	margin: 0 auto;
} 
#header {
}
#header .avatar img {
	border-radius: 100%;
	display: block;
}
#header h1 {
	font-size: 1.2rem;
	color: rgba(255,255,255,0.75);
	font-weight: 200;
}
#header h1 strong {
	color: white;
}
#header h1 a {
	color: white;
	text-decoration: none;
	border-bottom:1px dotted rgba(255,255,255,0.75);
}
#header .list {
	display: inline-block;
	border: 1px solid rgba(255,255,255,0.75);
	border-top: 1px solid rgba(255,255,255,0.75);
	padding: 1rem;
	background-color: rgba(255, 255, 255, 0.05);
}
#header .list td {
	display: inline-block;
	color:rgba(255,255,255,0.75);
	text-align: center;	
	width: 15rem;	
}
#header .list a {
	color:rgba(255,255,255,0.75);	
	text-decoration: none;	
}
#header .list a:HOVER {
	color:rgba(255,255,255,1.75)
}
#header ul.icons li {
	display: inline-block;	
	color:rgba(255,255,255,0.75);
}
#header ul.icons li a {
	color:rgba(255,255,255,0.75);
	text-decoration: none;
	margin-right: 3rem;	
}
#header ul.icons li label {
	color:rgba(255,255,255,0.75);	
}
#main .thumbnails {
	display: flex;
	text-align: center;
}
#main .thumbnails>div {
	flex-grow: 1;
	margin-right: 1rem;
	margin-left: 1rem;
}

#main .thumbnails a {
	margin-bottom: 1.5rem;
	display: block;
	text-decoration: none;
}
#main .thumbnails img {
 	width: 100%;
 	border-top-left-radius: 0.6rem;
 	border-top-right-radius: 0.6rem;
 	display: block;
}
#main .thumbnails h3 {
	border-left:1px solid rgba(255,255,255,0.5);
	border-right:1px solid rgba(255,255,255,0.5);
	border-bottom:1px solid rgba(255,255,255,0.5);
	border-bottom-left-radius: 0.2rem;
	border-bottom-right-radius: 0.2rem;
	padding:0.5rem;
	text-align: center;
	background-color: rgba(255,255,255,0.1);
	color: white;
	font-size: 0.8rem;
	font-weight: 200;
	margin: 0;
}
#main .thumbnails a:HOVER>h3 {	
	background-color: rgba(255,255,255,0.75)	
}	
#footer {
	text-align: center;
	color: rgba(255,255,255,0.75);
}
hr/ {
	color: rgba(255,255,255,0.75);
	
}
#footer a {
	color: white;
}
br {
	color: black;	
}
#wrap {
  text-align: center;
  width: 500px;
}
#large img {
  width: 350px;
  height: 350px;
}
#popup {
  list-style: none; 
  display: inline; 
}
ul img {
  width: 170px;
  height: 100px;
}
#popup li {
  list 
}
#avatar {
	margin:0.8rem;	
}
@MEDIA(max-width: 480px)  {
	#main .thumbnails {
	display: block;
	}	
	#header {
	display: none;
	}
}

 	
 	
 	
 	